body{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://www.wallpapertip.com/wmimgs/24-249670_high-resolution-wooden-background-hd.jpg) fixed no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header h1{
    font-size: 3rem;
    color: white;
    text-shadow: 8px 8px 2px rgba(0, 0, 0, 0.671);
}


.description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    gap: 30px;
}

.description-Part1 img{
    border: 5px solid white;
    border-radius: 10px;
}

.description-Part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-Part2 h3{
    font-size: 1.8rem;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.671);
    margin-bottom: 0;
}

.description-Part2 p{
    text-align: justify;
    text-indent: 30px;
    font-weight: 500;
    color: white;
}


.ingredients{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    gap: 30px;
}

.ingredients-part1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28rem;
}

.ingredients-part1 h3{
    font-size: 1.8rem;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.671);
    margin-bottom: 0;
}

.ingredients-part1 ul{
    text-align: center;
    color: white;
    list-style-type: none;
    padding: 0;
}

.ingredients-part1 ul li{
    padding: 5px 0;
    border-bottom: 1px solid #ccc; 
}

.ingredients-part2 img{
    border: 5px solid white;
    border-radius: 10px;
}


.steps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    gap: 30px;
}

.steps-part1 img{
    border: 5px solid white;
    border-radius: 10px;
}

.steps-part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.steps-part2 h3{
    font-size: 1.8rem;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.671);
    margin-bottom: 0;
}

.steps-part2 ol{
    text-align: justify;
    color: white;
    padding: 0;
    counter-reset: item;
    list-style-type: none;
}

.steps-part2 ol li{
    padding: 8px 0;
    counter-increment: item;
}

.steps-part2 ol li::before{
    content: counter(item) ". ";
    font-weight: bold;
}



.stepsPizza{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    gap: 30px;
}

.steps-part1 img{
    border: 5px solid white;
    border-radius: 10px;
}

.steps-part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.steps-part2 p{
    text-align: justify;
    text-indent: 30px;
    font-weight: 500;
    color: white;
}

.steps-part2 h3{
    font-size: 1.8rem;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.671);
    margin-bottom: 0;
}

.steps2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
}

.steps2 ol{
    text-align: justify;
    color: white;
    padding: 0;
    counter-reset: item;
    list-style-type: none;
}

.steps2 ol li{
    padding: 8px 0;
    counter-increment: item;
}

.steps2 ol li::before{
    content: counter(item) ". ";
    font-weight: bold;
}

